* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}
body{
    position: relative;
width:100%;
height:auto;
}


.Welcome1{
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    margin-left: -80px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: normal;

}


.back{
    position: fixed;
}

